  /* ------------------------------------------------
      --- Banniére | Mise en page de la banniére
  --------------------------------------------------*/


.banniere {
    background: #66757f;
    margin-right: -50%;
    margin-left: -50%;
    .image-banniere {
        width: 100%;
        height: 450px;
        margin-bottom: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .6;
    }
}